body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

body.bloqueado {
    pointer-events: none; /* Bloqueia interações no restante da página */
}

.navigation {
    width: 30%;
}

main {
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.formulario {
    display: flex;
    flex-direction: column;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin: auto;
}

.overflow-pagto {
    height: 250px;
    overflow: auto;
}

.overflow {
    height: 380px;
    overflow: auto; 
}

.overflow-vendas {
    height: 200px !important;
    overflow: auto;
}

.overflow-vendas table {
    height: auto !important;
}

.overflow-vendas td,
td {
    height: auto !important;
}

.overflow-vendas tr,
tr {
    line-height: 20px !important;

}

table {
    width: 100%;
    height: 300px;
    height: auto !important;
}

#tabela-vendas {
    height: 250px;
    overflow: auto;
    table-layout: fixed;
}

th,
td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    width: auto;
    height: 20px;
    line-height: 20px;
    font-family: var(--font2);
    font-size: 16px;
}

.nav-home {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background-color: var(--background-login);
    height: 100vh;
}

i {
    margin-right: 20px;
}

#c-bebidas,
#v-bebidas,
#pagto,
#pagto-p,
#pagto-e,
#busca-c,
#todas-v,
#estoque-b,
#relatorio {
    padding: 20px;
    font-family: var(--font);
    font-size: 20px;
    text-align: left;
    background-color: var(--background-login);
    color: var(--color-text);
    border: none;
    border-bottom: 2px solid var(--color-text);
}

#c-bebidas:hover,
#v-bebidas:hover,
#pagto:hover,
#pagto-p:hover,
#pagto-e:hover,
#busca-c:hover,
#todas-v:hover,
#estoque-b:hover,
#relatorio:hover {
    color: var(--color-highlight);
    border-bottom: 2px solid var(--color-highlight);
    cursor: pointer;
}

#container-cadastro,
#container-vendas,
#container-estoque,
#container-pagamento,
#container-pendente,
#container-efetuado,
#container-busca,
#container-tvendas,
#container-relatorio,
#container-relatorio {
    display: none;
    position: absolute;
    top: 0;
    background-color: white;
    width: 60%;
    height: 80%;
    margin: 3% 5%;
    padding: 20px;

}

.name-logout {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    margin: 5px;
    margin-right: 20px;
    margin-left: auto;
}

.name-logout button{
    margin-right: 0;
    margin-left: auto;
    color: red;
    font-size: 25px;
    font-weight: 600;
    background: none;
    border: none;
    cursor: pointer;
}

#nome-login {
    font-family: var(--font);
    font-size: 25px;
    font-weight: 600;
    margin-right: 50px;
    color: red;
}

.container-right {
    height: 100vh;
}



.img-principal {
    width: 100%;
    height: 100%;
    position: relative;
}

.texto-principal {
    position: absolute;
    margin: 140px 50px 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 0 20px 20px;
    box-shadow: 2px 2px 4px var(--color-text);

}

.titulo {
    color: var(--color-highlight);
    font-family: var(--font);
    font-size: 40px;
    font-weight: 800;
    width: 400px;
    text-align: center;
    text-shadow: 2px 2px 4px var(--background-login);
    position: absolute;
    top: 0;
    margin: 50px 75px;
}

.logo2 {
    width: 80px;
    margin: -40px auto 20px;
}

.paragrafo {
    color: var(--background-login);
    font-family: var(--font2);
    font-size: 20px;
    font-weight: 600;
    width: 400px;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5;

}

.botao {
    background-color: var(--background-login);
    color: var(--color-text);
    margin-right: 20px;
    padding: 5px 20px;
    font-family: var(--font);
    font-size: 20px;
    border-radius: 20px;
}

.botao:hover {
    border: 2px solid var(--color-highlight);
    cursor: pointer;
}

.fechar {
    margin-left: 97%;
    background-color: var(--background-login);
    color: var(--color-text);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: var(--font);
    font-size: 20px;
    font-weight: 600;
    color: var(--color-highlight);
}

label {
    font-family: var(--font);
    font-size: 18px;
    margin-bottom: 5px;
}

input,
select {
    font-family: var(--font2);
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
    margin-right: 0;
    flex: 1;
}

.busca {
    display: flex;
    width: 50%;
}

.busca-pagto {
    display: flex;
    width: 80%;
}

.busca-pagto select {
    height: 30px;
}

.buscar {
    height: 30px;
    background-color: var(--color-text);
    font-size: 20px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 1px solid black;
}

#busca-clientes,
#pesquisa-cliente,
#pesquisa-estoque {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right: none;
    border: 1px solid black;
    padding-left: 20px;
}

#busca-clientes:focus,
#pesquisa-cliente:focus {
    outline: none;
    border: 1px solid black;
}

#total-pagto {
    width: 30%;
    margin-left: 68%;
}

.label-total {
    width: 30%;
    margin-left: 68%;
    margin-top: 20px;
}

#hamburger-menu,
#close-menu {
    display: none;
    position: absolute;
    top: 0;
    margin: 10px;
    font-size: 20px;
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: var(--color-text);
}

.btn-alterar-estoque {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-alterar-estoque i {
    color: red;
    font-size: 20px;
}

#container-alterar-estoque {
    display: none;
}

#nome-produto {
    margin-bottom: 20px;
    font-family: var(--font2);
    font-size: 16px;
}

#caixa-fechado {
    display: none;
    text-align: center;
    font-family: var(--font2);
    font-size: 25px;
    line-height: 2;
}

#caixa-aberto {
    display: none;
    font-family: var(--font2);
    font-size: 20px;
    padding-left: 40px;
    line-height: 1.5;
}

#troco {

    text-align: end;

}

#input-troco {
    width: 30%;
    margin-left: 68%;
}

#div-senha {
    z-index: 20;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    border-radius: 20px;
    width: 350px;
    height: 150px;
    display: none;
    pointer-events: auto;
}

.button-senha{
    font-family: var(--font);
    font-size: 23px;
    position: absolute;
    top: 60px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
    padding-bottom: 3px;
    padding-right: 10px;
}

#senha-caixa{
    margin-top: 60px;
    margin-left: 50px;
    font-size: 20px;
    width: 180px;
    border-radius: 10px 0 0 10px;
    padding-left: 20px;
}

.button-fechar{
    position: absolute;
    color: white;
    background-color: black;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 25px;
}

#div-caixas{
    z-index: 10;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    display: none;
    pointer-events: auto;
    border: 2px solid black;
}

#div-caixas p{
    font-family: var(--font);
    font-size: 23px;
    color: red;
    margin-bottom: 30px;
}

#div-caixas table{
    overflow: auto;
}

.btn-caixas{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: green;
}

.btn-fechar-caixas{
    position: absolute;
    color: black;
    background-color: white;
    top: 10px;
    right: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 25px;
}

@media screen and (max-width: 1024px) {
    body {
        flex-direction: column;
    }

    #close-menu {
        display: none;
    }

    #hamburger-menu {
        display: block;
    }

    .navigation {
        position: absolute;
        width: 100%;
        z-index: 5;
    }

    .nav-home {
        display: none;
        padding-top: 30px;
        padding-bottom: 0;
    }

    main {
        width: 100%;
    }

    .name-logout {
        margin: 10px;
    }

    .texto-principal {
        margin-left: 20px;
    }

    .titulo {
        margin-left: 40px;
    }

    #c-bebidas,
    #v-bebidas,
    #pagto,
    #pagto-p,
    #pagto-e,
    #busca-c,
    #todas-v,
    #estoque-b,
    #relatorio {
        width: 100%;
        font-size: 16px;
    }

    #container-cadastro,
    #container-vendas,
    #container-estoque,
    #container-pagamento,
    #container-pendente,
    #container-efetuado,
    #container-busca,
    #container-tvendas,
    #container-relatorio {
        width: 80%;
        margin: 50px 5%;
    }

    th,
    td {
        font-size: 14px;
    }

    .botao {
        font-size: 14px;
        margin-right: 5px;
        padding: 5px 10px;
    }

}